In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_pickle('data/checkpoints/after_analyze.pkl.xz')
df.reset_index(inplace=True, drop=True)
df.head()

,date_mutation,valeur_fonciere,code_postal,nom_commune,surface_carrez,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2014-01-02,194400.0,44100,Nantes,NaN,Appartement,84.0,4,NaN,-1.603261,47.209692
1,2014-01-02,107000.0,44800,Saint-Herblain,45.80,Appartement,46.0,2,NaN,-1.644254,47.207462
2,2014-01-09,208154.0,44300,Nantes,103.64,Appartement,103.0,5,NaN,-1.519753,47.272364
3,2014-01-06,79000.0,44000,Nantes,26.45,Appartement,25.0,1,NaN,-1.551322,47.216626
4,2014-01-02,335000.0,44300,Nantes,NaN,Maison,118.0,5,562.0,-1.506824,47.231122

In [3]:
df.drop(['longitude', 'latitude'], axis=1, inplace=True)
df.head()

,date_mutation,valeur_fonciere,code_postal,nom_commune,surface_carrez,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain
0,2014-01-02,194400.0,44100,Nantes,NaN,Appartement,84.0,4,NaN
1,2014-01-02,107000.0,44800,Saint-Herblain,45.80,Appartement,46.0,2,NaN
2,2014-01-09,208154.0,44300,Nantes,103.64,Appartement,103.0,5,NaN
3,2014-01-06,79000.0,44000,Nantes,26.45,Appartement,25.0,1,NaN
4,2014-01-02,335000.0,44300,Nantes,NaN,Maison,118.0,5,562.0

In [4]:
df.drop('surface_carrez', axis=1, inplace=True)
df.head()

,date_mutation,valeur_fonciere,code_postal,nom_commune,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain
0,2014-01-02,194400.0,44100,Nantes,Appartement,84.0,4,NaN
1,2014-01-02,107000.0,44800,Saint-Herblain,Appartement,46.0,2,NaN
2,2014-01-09,208154.0,44300,Nantes,Appartement,103.0,5,NaN
3,2014-01-06,79000.0,44000,Nantes,Appartement,25.0,1,NaN
4,2014-01-02,335000.0,44300,Nantes,Maison,118.0,5,562.0

In [5]:
df['surface_terrain'].fillna(df['surface_reelle_bati'], inplace=True)
df.head()

,date_mutation,valeur_fonciere,code_postal,nom_commune,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain
0,2014-01-02,194400.0,44100,Nantes,Appartement,84.0,4,84.0
1,2014-01-02,107000.0,44800,Saint-Herblain,Appartement,46.0,2,46.0
2,2014-01-09,208154.0,44300,Nantes,Appartement,103.0,5,103.0
3,2014-01-06,79000.0,44000,Nantes,Appartement,25.0,1,25.0
4,2014-01-02,335000.0,44300,Nantes,Maison,118.0,5,562.0

In [6]:
df['surface_non_bati'] = df['surface_terrain'] - df['surface_reelle_bati']
df.head()

,date_mutation,valeur_fonciere,code_postal,nom_commune,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,surface_non_bati
0,2014-01-02,194400.0,44100,Nantes,Appartement,84.0,4,84.0,0.0
1,2014-01-02,107000.0,44800,Saint-Herblain,Appartement,46.0,2,46.0,0.0
2,2014-01-09,208154.0,44300,Nantes,Appartement,103.0,5,103.0,0.0
3,2014-01-06,79000.0,44000,Nantes,Appartement,25.0,1,25.0,0.0
4,2014-01-02,335000.0,44300,Nantes,Maison,118.0,5,562.0,444.0

In [7]:
df['annee_mutation'] = df['date_mutation'].apply(lambda d: d.split('-')[0]).astype('int64')
df['mois_mutation'] = df['date_mutation'].apply(lambda d: d.split('-')[1]).astype('int64')
df.drop('date_mutation', axis=1, inplace=True)
df.head()

,valeur_fonciere,code_postal,nom_commune,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,surface_non_bati,annee_mutation,mois_mutation
0,194400.0,44100,Nantes,Appartement,84.0,4,84.0,0.0,2014,1
1,107000.0,44800,Saint-Herblain,Appartement,46.0,2,46.0,0.0,2014,1
2,208154.0,44300,Nantes,Appartement,103.0,5,103.0,0.0,2014,1
3,79000.0,44000,Nantes,Appartement,25.0,1,25.0,0.0,2014,1
4,335000.0,44300,Nantes,Maison,118.0,5,562.0,444.0,2014,1

In [8]:
#df['mois_mutation_sin'] = np.sin(2 * np.pi * (df['mois_mutation'] - 1) / 12)
#df['mois_mutation_cos'] = np.cos(2 * np.pi * (df['mois_mutation'] - 1) / 12)
#df.drop('mois_mutation', axis=1, inplace=True)
#df.head()

In [9]:
df = pd.get_dummies(df)
df.head()

,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,surface_terrain,surface_non_bati,annee_mutation,mois_mutation,code_postal_44000,code_postal_44100,code_postal_44115,...,nom_commune_Saint-Herblain,nom_commune_Saint-Jean-de-Boiseau,nom_commune_Saint-Léger-les-Vignes,nom_commune_Saint-Sébastien-sur-Loire,nom_commune_Sainte-Luce-sur-Loire,nom_commune_Sautron,nom_commune_Thouaré-sur-Loire,nom_commune_Vertou,type_local_Appartement,type_local_Maison
0,194400.0,84.0,4,84.0,0.0,2014,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,107000.0,46.0,2,46.0,0.0,2014,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,208154.0,103.0,5,103.0,0.0,2014,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,79000.0,25.0,1,25.0,0.0,2014,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,335000.0,118.0,5,562.0,444.0,2014,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
df.drop('type_local_Maison', axis=1, inplace=True)
df.head()

,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,surface_terrain,surface_non_bati,annee_mutation,mois_mutation,code_postal_44000,code_postal_44100,code_postal_44115,...,nom_commune_Saint-Aignan-Grandlieu,nom_commune_Saint-Herblain,nom_commune_Saint-Jean-de-Boiseau,nom_commune_Saint-Léger-les-Vignes,nom_commune_Saint-Sébastien-sur-Loire,nom_commune_Sainte-Luce-sur-Loire,nom_commune_Sautron,nom_commune_Thouaré-sur-Loire,nom_commune_Vertou,type_local_Appartement
0,194400.0,84.0,4,84.0,0.0,2014,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,107000.0,46.0,2,46.0,0.0,2014,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,208154.0,103.0,5,103.0,0.0,2014,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,79000.0,25.0,1,25.0,0.0,2014,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,335000.0,118.0,5,562.0,444.0,2014,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df = df.T.drop_duplicates(keep='last').T
df.head()

,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,surface_terrain,surface_non_bati,annee_mutation,mois_mutation,code_postal_44000,code_postal_44100,code_postal_44200,...,nom_commune_Saint-Aignan-Grandlieu,nom_commune_Saint-Herblain,nom_commune_Saint-Jean-de-Boiseau,nom_commune_Saint-Léger-les-Vignes,nom_commune_Saint-Sébastien-sur-Loire,nom_commune_Sainte-Luce-sur-Loire,nom_commune_Sautron,nom_commune_Thouaré-sur-Loire,nom_commune_Vertou,type_local_Appartement
0,194400.0,84.0,4.0,84.0,0.0,2014.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,107000.0,46.0,2.0,46.0,0.0,2014.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,208154.0,103.0,5.0,103.0,0.0,2014.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,79000.0,25.0,1.0,25.0,0.0,2014.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,335000.0,118.0,5.0,562.0,444.0,2014.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
from sklearn.model_selection import train_test_split

# Taille du dataset de test (fraction du dataset total)
TEST_SIZE = 0.30

# Random seed pour la sélection des observations
SPLIT_RANDOM_SEED = 42

# X et y
X = df.drop("valeur_fonciere", axis=1)
y = df['valeur_fonciere']

# Split du dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TEST_SIZE, random_state=SPLIT_RANDOM_SEED)

In [21]:
print('Train dataset : X_train shape ' + str(X_train.shape) + ' et y_train shape ' + str(y_train.shape))
print('Test dataset : X_test shape ' + str(X_test.shape) + ' et y_test shape ' + str(y_test.shape))

Train dataset : X_train shape (27204, 38) et y_train shape (27204,)
Test dataset : X_test shape (11659, 38) et y_test shape (11659,)

In [37]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, median_absolute_error

def meaae(y_true, y_pred):
    return mean_absolute_error(y_true, y_pred)

def medae(y_true, y_pred):
    return median_absolute_error(y_true, y_pred)

def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

In [27]:
from sklearn.ensemble import ExtraTreesRegressor

TRAIN_RANDOM_SEED=42

# Instantiation du modèle.
etr = ExtraTreesRegressor(n_estimators=25, criterion='mae', random_state=TRAIN_RANDOM_SEED, n_jobs=-1)

# Entraînement du modèle
etr.fit(X_train, y_train)

# Prédiction sur le corpus d'apprentissage afin de calculer l'erreur en prédiction
y_train_predicted = etr.predict(X_train)
print("MeaAE en prédiction : %i" % meaae(y_train, y_train_predicted))
print("MedAE en prédiction : %i" % medae(y_train, y_train_predicted))
print("RMSE en prédiction : %i" % rmse(y_train, y_train_predicted))

# Prédiction sur le corpus de test afin de calculer l'erreur en généralisation
y_test_predicted = etr.predict(X_test)
print("MeaAE en généralisation : %i" % meaae(y_test, y_test_predicted))
print("MedAE en généralisation : %i" % medae(y_test, y_test_predicted))
print("RMSE en généralisation : %i" % rmse(y_test, y_test_predicted))

MEAE en prédiction : 9974
MEDE en prédiction : 0
RMSE en prédiction : 139776
MEAE en généralisation : 124805
MEAE en généralisation : 38574
RMSE en généralisation : 511685

In [24]:
# Obtention de l'importance des features
importances = etr.feature_importances_

# Création d'un DataFrame pour associer chaque feature à son importance
importances = pd.concat([pd.Series(X_train.columns), pd.Series(importances)], axis=1).rename({0: 'feature', 1: 'importance'}, axis=1)

# Tri
importances.sort_values(by='importance', ascending=False, inplace=True)

#Affichage
importances

                                  feature  importance
0                     surface_reelle_bati    0.186614
5                           mois_mutation    0.178227
2                         surface_terrain    0.140648
4                          annee_mutation    0.096523
1               nombre_pieces_principales    0.085735
3                        surface_non_bati    0.085611
37                 type_local_Appartement    0.073903
25                     nom_commune_Nantes    0.022508
6                       code_postal_44000    0.019172
7                       code_postal_44100    0.011597
35          nom_commune_Thouaré-sur-Loire    0.010919
9                       code_postal_44300    0.009061
19                      nom_commune_Indre    0.008887
8                       code_postal_44200    0.007819
27                       nom_commune_Rezé    0.007070
36                     nom_commune_Vertou    0.005222
32  nom_commune_Saint-Sébastien-sur-Loire    0.004398
29             nom_commune_Saint-Herblain    0.004393
26                    nom_commune_Orvault    0.003663
33      nom_commune_Sainte-Luce-sur-Loire    0.003576
18                    nom_commune_Couëron    0.003236
15                 nom_commune_Bouguenais    0.003189
17                  nom_commune_Carquefou    0.003087
10                      code_postal_44470    0.003062
20      nom_commune_La Chapelle-sur-Erdre    0.002860
34                    nom_commune_Sautron    0.002491
23             nom_commune_Les Sorinières    0.002393
13             nom_commune_Basse-Goulaine    0.001806
11                      code_postal_44640    0.001802
12                      code_postal_44830    0.001733
30      nom_commune_Saint-Jean-de-Boiseau    0.001658
21                nom_commune_La Montagne    0.001635
14                     nom_commune_Bouaye    0.001501
28     nom_commune_Saint-Aignan-Grandlieu    0.001261
24           nom_commune_Mauves-sur-Loire    0.001197
31     nom_commune_Saint-Léger-les-Vignes    0.000645
22                nom_commune_Le Pellerin    0.000636
16                     nom_commune_Brains    0.000262

In [79]:
 # Fusion de X_train et y_train pour obtenir le corpus d'entraînement en entier
train = X_train.copy()
train['valeur_fonciere'] = y_train

from sklearn.ensemble import IsolationForest

OUT_DET_RANDOM_STATE = 42

# Taux de contamination
CONTAMINATION=0.1

# Création de notre détecteur
outlier_detector = IsolationForest(n_estimators=500, contamination=CONTAMINATION, max_samples=1.0, behaviour='new', random_state=OUT_DET_RANDOM_STATE, n_jobs=-1)

# Analyse des données
outlier_detector.fit(train)

# Détermination des outliers
train['outlier'] = outlier_detector.predict(train)

print("L'Isolation Forest a trouvé %i outliers" % train[train['outlier'] < 0].shape[0])

L'Isolation Forest a trouvé 2721 outliers

In [80]:
X_train2 = train[train['outlier'] > 0].drop(['valeur_fonciere', 'outlier'], axis=1)
y_train2 = train[train['outlier'] > 0]['valeur_fonciere']

print('Train dataset : X_train shape ' + str(X_train2.shape) + ' et y_train shape ' + str(y_train2.shape))

Train dataset : X_train shape (24483, 38) et y_train shape (24483,)

In [81]:
from sklearn.ensemble import ExtraTreesRegressor

TRAIN_RANDOM_SEED=42

# Instantiation du modèle.
etr = ExtraTreesRegressor(n_estimators=25, criterion='mae', random_state=TRAIN_RANDOM_SEED, n_jobs=-1)

# Entraînement du modèle
etr.fit(X_train2, y_train2)

# Prédiction sur le corpus d'apprentissage afin de calculer l'erreur en prédiction
y_train_predicted = etr.predict(X_train2)
print("MeaAE en prédiction : %i" % meaae(y_train2, y_train_predicted))
print("MedAE en prédiction : %i" % medae(y_train2, y_train_predicted))
print("RMSE en prédiction : %i" % rmse(y_train2, y_train_predicted))

# Prédiction sur le corpus de test afin de calculer l'erreur en généralisation
y_test_predicted = etr.predict(X_test)
print("MeaAE en généralisation : %i" % meaae(y_test, y_test_predicted))
print("MedAE en généralisation : %i" % medae(y_test, y_test_predicted))
print("RMSE en généralisation : %i" % rmse(y_test, y_test_predicted))

MeaAE en prédiction : 6557
MedAE en prédiction : 0
RMSE en prédiction : 66396
MeaAE en généralisation : 118350
MedAE en généralisation : 38758
RMSE en généralisation : 553309

In [96]:
from sklearn.ensemble import ExtraTreesRegressor

TRAIN_RANDOM_SEED=42

# Instantiation du modèle.
etr = ExtraTreesRegressor(n_estimators=100, criterion='mae', random_state=TRAIN_RANDOM_SEED, n_jobs=-1, max_features='sqrt', bootstrap=True, oob_score=True)

# Entraînement du modèle
etr.fit(X_train2, y_train2)

# Prédiction sur le corpus d'apprentissage afin de calculer l'erreur en prédiction
y_train_predicted = etr.predict(X_train2)
print("MeaAE en prédiction : %i" % meaae(y_train2, y_train_predicted))
print("MedAE en prédiction : %i" % medae(y_train2, y_train_predicted))
print("RMSE en prédiction : %i" % rmse(y_train2, y_train_predicted))

# Prédiction sur le corpus de test afin de calculer l'erreur en généralisation
y_test_predicted = etr.predict(X_test)
print("MeaAE en généralisation : %i" % meaae(y_test, y_test_predicted))
print("MedAE en généralisation : %i" % medae(y_test, y_test_predicted))
print("RMSE en généralisation : %i" % rmse(y_test, y_test_predicted))

MeaAE en prédiction : 41995
MedAE en prédiction : 19501
RMSE en prédiction : 131786
MeaAE en généralisation : 112427
MedAE en généralisation : 37131
RMSE en généralisation : 550591

In [97]:
# Obtention de l'importance des features
importances = etr.feature_importances_

# Création d'un DataFrame pour associer chaque feature à son importance
importances = pd.concat([pd.Series(X_train.columns), pd.Series(importances)], axis=1).rename({0: 'feature', 1: 'importance'}, axis=1)

# Tri
importances.sort_values(by='importance', ascending=False, inplace=True)

#Affichage
importances

                                  feature  importance
0                     surface_reelle_bati    0.232003
2                         surface_terrain    0.177647
1               nombre_pieces_principales    0.126465
3                        surface_non_bati    0.114613
37                 type_local_Appartement    0.106195
5                           mois_mutation    0.096291
4                          annee_mutation    0.058124
6                       code_postal_44000    0.017664
25                     nom_commune_Nantes    0.014027
7                       code_postal_44100    0.006426
9                       code_postal_44300    0.005543
8                       code_postal_44200    0.004070
34                    nom_commune_Sautron    0.003617
27                       nom_commune_Rezé    0.003525
26                    nom_commune_Orvault    0.003214
36                     nom_commune_Vertou    0.003205
20      nom_commune_La Chapelle-sur-Erdre    0.003105
29             nom_commune_Saint-Herblain    0.003076
32  nom_commune_Saint-Sébastien-sur-Loire    0.002836
18                    nom_commune_Couëron    0.002816
15                 nom_commune_Bouguenais    0.002615
33      nom_commune_Sainte-Luce-sur-Loire    0.001870
21                nom_commune_La Montagne    0.001850
13             nom_commune_Basse-Goulaine    0.001826
10                      code_postal_44470    0.001607
23             nom_commune_Les Sorinières    0.001495
17                  nom_commune_Carquefou    0.001261
28     nom_commune_Saint-Aignan-Grandlieu    0.001133
19                      nom_commune_Indre    0.001046
31     nom_commune_Saint-Léger-les-Vignes    0.000523
35          nom_commune_Thouaré-sur-Loire    0.000311
24           nom_commune_Mauves-sur-Loire    0.000000
22                nom_commune_Le Pellerin    0.000000
16                     nom_commune_Brains    0.000000
14                     nom_commune_Bouaye    0.000000
30      nom_commune_Saint-Jean-de-Boiseau    0.000000
12                      code_postal_44830    0.000000
11                      code_postal_44640    0.000000

In [115]:
 from sklearn.model_selection import GridSearchCV

# Instantiation du modèle dont on veut optimiser les hyper-paramètres.
model = ExtraTreesRegressor(n_estimators=100, criterion='mae', random_state=TRAIN_RANDOM_SEED, n_jobs=-1, bootstrap=True, oob_score=True)

# Grille d'hyper-paramètres à tester.
param_grid = {
    'max_features': [2, 3, 4, 5],
    'max_depth': [30, 35, 40]
}

# Instantiation du GridSearchCV.
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=2, n_jobs=-1, verbose=10)

# Entraînement du modèle
grid.fit(X_train, y_train)

# Affichage des meilleurs paramètres
print(grid.best_params_)

# Prédiction sur le corpus d'apprentissage afin de calculer l'erreur en prédiction
y_train_predicted = grid.predict(X_train2)
print("MeaAE en prédiction : %i" % meaae(y_train2, y_train_predicted))
print("MedAE en prédiction : %i" % medae(y_train2, y_train_predicted))
print("RMSE en prédiction : %i" % rmse(y_train2, y_train_predicted))

# Prédiction sur le corpus de test afin de calculer l'erreur en généralisation
y_test_predicted = grid.predict(X_test)
print("MeaAE en généralisation : %i" % meaae(y_test, y_test_predicted))
print("MedAE en généralisation : %i" % medae(y_test, y_test_predicted))
print("RMSE en généralisation : %i" % rmse(y_test, y_test_predicted))

Fitting 2 folds for each of 12 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done  12 out of  24 | elapsed:  6.6min remaining:  6.6min
[Parallel(n_jobs=-1)]: Done  15 out of  24 | elapsed:  7.5min remaining:  4.5min
[Parallel(n_jobs=-1)]: Done  18 out of  24 | elapsed:  8.5min remaining:  2.8min
[Parallel(n_jobs=-1)]: Done  21 out of  24 | elapsed:  9.4min remaining:  1.3min
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:  9.5min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:  9.5min finished

{'max_depth': 35, 'max_features': 3}
MeaAE en prédiction : 51330
MedAE en prédiction : 23860
RMSE en prédiction : 149735
MeaAE en généralisation : 108851
MedAE en généralisation : 39344
RMSE en généralisation : 457090

In [116]:
# Obtention de l'importance des features
importances = grid.best_estimator_.feature_importances_

# Création d'un DataFrame pour associer chaque feature à son importance
importances = pd.concat([pd.Series(X_train.columns), pd.Series(importances)], axis=1).rename({0: 'feature', 1: 'importance'}, axis=1)

# Tri
importances.sort_values(by='importance', ascending=False, inplace=True)

#Affichage
importances

                                  feature  importance
2                         surface_terrain    0.208051
0                     surface_reelle_bati    0.200180
3                        surface_non_bati    0.148443
1               nombre_pieces_principales    0.126848
5                           mois_mutation    0.098343
37                 type_local_Appartement    0.087021
4                          annee_mutation    0.056449
25                     nom_commune_Nantes    0.012393
6                       code_postal_44000    0.011045
7                       code_postal_44100    0.006661
9                       code_postal_44300    0.004423
34                    nom_commune_Sautron    0.003381
19                      nom_commune_Indre    0.003204
8                       code_postal_44200    0.003134
27                       nom_commune_Rezé    0.002881
10                      code_postal_44470    0.002319
20      nom_commune_La Chapelle-sur-Erdre    0.001982
36                     nom_commune_Vertou    0.001955
35          nom_commune_Thouaré-sur-Loire    0.001907
26                    nom_commune_Orvault    0.001895
29             nom_commune_Saint-Herblain    0.001887
17                  nom_commune_Carquefou    0.001653
18                    nom_commune_Couëron    0.001562
13             nom_commune_Basse-Goulaine    0.001431
15                 nom_commune_Bouguenais    0.001427
33      nom_commune_Sainte-Luce-sur-Loire    0.001387
32  nom_commune_Saint-Sébastien-sur-Loire    0.001239
21                nom_commune_La Montagne    0.001083
11                      code_postal_44640    0.001012
28     nom_commune_Saint-Aignan-Grandlieu    0.000773
22                nom_commune_Le Pellerin    0.000714
12                      code_postal_44830    0.000603
30      nom_commune_Saint-Jean-de-Boiseau    0.000602
23             nom_commune_Les Sorinières    0.000598
24           nom_commune_Mauves-sur-Loire    0.000549
14                     nom_commune_Bouaye    0.000473
31     nom_commune_Saint-Léger-les-Vignes    0.000332
16                     nom_commune_Brains    0.000163